@views.html.main("login"){
<div class="container">


    <div class="jumbotron">
        <h1>Knolders !!</h1>

        <p>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">example.com</span>
        </div>
        <br><br>hello hi
        <button type="button" class="btn btn-warning pull-right">Action</button>

        </p>


      </div>



    </div>



}